@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');


a.ol span.ol-text {
    display: inline-block; 
    color: #fff;   
    background-color: #151515;  
}

a.ol span.ol-icon {
    background-color: #d5966c;  
}

a.ol:hover span {
    transition-property: background-color; 
    transition-duration: 200ms;  
}

a.ol:hover span.ol-text {
    background-color: #d5966c;  
}

a.ol:hover span.ol-icon {
background-color: #151515;  
}

.a-description-1{
color:black;
}

@media screen and (max-width: 100px){
/*#break{
display:none;
}*/
.black-rectangle{
display:none;
}
}

.footerhover:hover{
background-color:#d5966c;
}



.m-ag{
white-space: nowrap; 
font-family:'Big Shoulders Display';
font-size:40px;
line-height:1;
text-transform:uppercase;
color:black;
text-align:justify;
font-weight:900;
bottom:5px;
left:2%;
position:relative;
}

@media  (max-width:680px) {
.arrow-right-1 {
width:9px;
height:27px;
display:flex;
padding:10px;
left:45%;
background-color:#d5966c;
top:470px;
position:absolute;
}



.location-description-1{
text-transform:uppercase;
width:40%;
height:36px;
font-size:18px;
color:white;
background-color:black;
text-align:center;
font-family:'Big Shoulders Display';
padding:10px 0 0 0;
position:absolute;
top:470px;
left:7%;
}

}
.picimage-1{
width:100%;
height:230px;
padding:0px;
margin:0px;
}

.m-ag{
white-space: nowrap; 
font-family:'Big Shoulders Display';
font-size:40px;
line-height:1;
text-transform:uppercase;
color:black;
text-align:justify;
font-weight:900;
bottom:5px;
left:2%;
position:relative;
}

.p-description-1{
font-family:'Outfit';
font-weight: 300;
font-size: 16px;
line-height: 1.3;
text-align:justify;
color:#444444;
width:75%;
position:absolute;
top:350px;
left:6%;
}

a.ol span.ol-text {
    display: inline-block; 
    color: #fff;   
    background-color: #151515;  
}

a.ol span.ol-icon {
    background-color: #d5966c;  
}

a.ol:hover span {
    transition-property: background-color; 
    transition-duration: 200ms;  
}

a.ol:hover span.ol-text {
    background-color: #d5966c;  
}

a.ol:hover span.ol-icon {
background-color: #151515;  
}




.a-description-1{
color:black;
}

@media  (max-width:680px) {
    .img-two-description {
width:90%;
height:300px;
position: absolute;
top:580px;
}

.img-three-description{
    width:100%;
    height:500px;
    position: relative;
    top: 500px;
    }
    
.img-four-description{
    width:100%;
    height:200px;
    padding:20px 0px 20px 0px;
    position: relative;
    top: 520px;
    }

    .your-datg-1
{
        white-space: nowrap; 
        font-family:'Big Shoulders Display';
        font-size:50px;
        line-height:1;
        text-transform:uppercase;
        color:black;
        text-align:justify;
        padding:10px 0px 0px 10px;
        margin:0px;
        font-weight:900;
        position: relative;
        top:500px;
        }
    }

    .footer {
        width:100%;
        background-color:black;
        height:350px;
        margin:100px 0px 0px 0px;
        position: relative;
        top: 560px;
        }

.p-two-description-1{
font-family:'Outfit';
font-weight: 300;
font-size: 18px;
line-height: 1.3;
text-align:justify;
left:8px;
color:#444444;
width:80%;
right:70px;
top: 500px;
position:relative;
}


.article-description{
width:100%;
height:300px;
background-color:black;
color:white;
position: relative;
top: 570px;
}

.come-be-1{
font-family:'Big Shoulders Display';
font-size:50px;
line-height:1;
text-transform:uppercase;
text-align:justify;
padding:50px 0px 0px 20px;
margin:0px;
font-weight:900;
}

.we-are-excited-1 {
font-family:'Outfit';
font-weight: 300;
font-size: 18px;
line-height:1.3;
text-align:justify;
padding:10px 30px 0px 20px;
color:rgb(255, 255, 255);
}



.faviconimages{
display:flex;
gap:20px;
padding:30px;
}

.mag-down-description{
color:white;
padding:50px 0 10px 30px;
font-size:25px;
text-transform:uppercase;
font-family:'Big Shoulders Display';
text-align:justify;
}

.p-down-description{
color:white;
padding:0px 30px 0px 30px;
font-weight: 300;
font-size: 18px;
font-family:'Outfit';
text-align:justify;
line-height:1.3;
}

.footerhover:hover{
background-color:#d5966c;
}


@media screen and (min-width: 700px) and (max-width:950px) {

.picimage-2{
width:60%;
height:700px;
padding:0px;
margin:0px;
}

.m-ag{
white-space: nowrap; 
font-family:'Big Shoulders Display';
font-size:77px;
line-height:1;
text-transform:uppercase;
color:black;
text-align:justify;
bottom:290px;
left:185px;
margin:0px;
font-weight:900;
position:relative;
}

.p-description-2{
font-family:'Outfit';
font-weight: 300;
font-size: 20px;
line-height: 1.2;
text-align:justify;
color:#444444;
bottom:550px;
left:400px;
position:absolute;
width:310px;
}


.location-description-2{
text-transform:uppercase;
width:25%;
height:45px;
font-size:25px;
color:white;
background-color:black;
text-align:center;
font-family:'Big Shoulders Display';
padding:15px 0 0 0;
bottom:400px;
left:405px;
position:absolute;
}

.arrow-right-2{
width:7px;
height:21px;
display:flex;
background-color:#D5966C;
padding:20px;
top:563px;
left:588px;
position:absolute;
}

.img-two-description {
width:55%;
height:400px;
position:absolute;
left:44%;
top:775px;
}

.your-datg-tablet
{

font-family:'Big Shoulders Display';
font-size:35px;
line-height:1;
text-transform:uppercase;
color:black;
font-weight:900;
top:780px;
position:absolute;
height:150px;
left:7%;
}

.next-line-desktop{
display:none;
}

.p-two-description-2{
font-family:'Outfit';
font-weight: 300;
font-size: 20px;
line-height: 1.2;
text-align:justify;
color:#444444;
width:220px;
top:940px;
position:absolute;
left:7%;
}

.img-three-description{
width:49%;
height:700px;
top:1255px;
position:absolute;
}

.img-four-description{
width:46%;
height:335px;
top:1240px;
right:8px;
position:absolute;
}
.article-description{
width:46%;
height:338px;
background-color:black;
color:white;
top:1615px;
left:53%;
position:absolute;
}

.come-be-2{
font-family:'Big Shoulders Display';
font-size:60px;
line-height:1;
text-transform:uppercase;
text-align:justify;
padding:75px 0px 0px 30px;
font-weight:900;
}

.we-are-excited-2 {
font-family:'Outfit';
font-weight: 300;
font-size: 22px;
line-height:1.3;
text-align:justify;
padding:10px 30px 20px 30px;
color:rgb(255, 255, 255);
bottom:20px;
position:relative;
}

.footer {
width:100%;
background-color:black;
height:250px;
position:absolute;
display:flex;
top:2000px;
}
 
.faviconimages{
display:flex;
gap:23px;
position:absolute;
bottom:40px;
right:40px;
height:100px;
}

.mag-down-description
{
color:white;
font-size:33px;
text-transform:uppercase;
font-family:'Big Shoulders Display';
text-align:justify;
bottom:80px;
position:absolute;
}

main{
margin:10px;
}
.p-down-description{
color:white;
font-weight:300;
font-size: 20px;
font-family:'Outfit';
text-align:justify;
line-height:1.3;
width:300px;
bottom:60px;
position:absolute;
left:180px;
}

a.ol span.ol-text {
    display: inline-block; 
    color: #fff;   
    background-color: #151515;  
}

a.ol span.ol-icon {
    background-color: #d5966c;  
}

a.ol:hover span {
    transition-property: background-color; 
    transition-duration: 200ms;  
}

a.ol:hover span.ol-text {
    background-color: #d5966c;  
}

a.ol:hover span.ol-icon {
background-color: #151515;  
}

.a-description-1{
color:black;
}


}


@media screen and (min-width: 1000px) {

.picimage-3 {
max-width:30%;
height:500px;
left:22%; 
position:relative;
}

.black-rectangle{
bottom:98px;
position:absolute;
width:23%;
height: 500px;
margin:0 0 0 0;
background-color:#151515;
top: 8px;
}

.black-rectangle h1{
position: absolute;
color:white;
top: 19%;
left:50%;
font-size: 50px;
line-height: 1;
mix-blend-mode: difference;
}



.p-description-3{
font-family:'Outfit';
font-weight: 300;
font-size: 18px;
line-height: 1.2;
color:#444444;
left:48%;
position:absolute;
width:290px;
top:124px;
text-align:initial;
}

*{
margin:5px 0 0 0px;
}

main{
margin:0px 30px 30px 0;
}

/*#break{
display:none;
}*/

/*.next-line-desktop{
display:none;
}*/

.no-next-line-desktop{
display:none;
}

.location-description-3{
text-transform:uppercase;
width:115px;
height:28px;
font-size:12px;
color:white;
background-color:black;
text-align:center;
font-family:'Big Shoulders Display';
padding:9px 0 0px 0;
position:absolute;
top:355px;
right:570px;
}

.flex-wrap
{
display:block;
position:absolute;
top:-75px;
right:0%;

}
.location-button{
display: flex;
position:absolute;
white-space:nowrap;
}

.arrow-right-3{
width:20px;
height:28.7px;
background-color:#D5966C;
padding:5px 0 3px 4px;
bottom:-397px;
right:560px;
position:absolute;
}


.img-two-description {
width:41%;
height:350px;
position:absolute;
top:540px;
left:37%;
}

#your-datg-3
{

font-family:'Big Shoulders Display';
font-size:20px;
line-height: 1.5em;
height: 5em;    
text-transform:uppercase;
color:black;
font-weight:900;
top:635px;
display: flex;
width:150px;
height:80px;
text-align:inherit;
left:110px;
position:absolute;
}



.p-two-description-3{
font-family:'Outfit';
font-weight: 300;
font-size: 16px;
line-height: 1.3;
text-align:initial;
color:#444444;
width:250px;
top:750px;
left:7.5%;
position:absolute;
}

/*.image-description{
margin:-300px 0 70px 0;

} */

.img-three-description{
top:980px;
width:37%;
left:7.2%;
height:650px;
position:absolute;
}

.img-four-description{
width:33%;
height:280px;
top:960px;
right:21.3%;
position:absolute;
}
.article-description{
width:33%;
height:350px;
background-color:black;
color:white;
top:1278px;
left:45.8%;
position:absolute;
}

.come-be-3{
font-family:'Big Shoulders Display';
font-size:40px;
line-height:1;
text-transform:uppercase;
text-align:justify;
padding:55px 0px 0px 40px;
font-weight:900;
}

.we-are-excited-3 {
font-family:'Outfit';
font-weight: 300;
font-size: 15px;
line-height:1.3;
text-align:initial;
padding:20px 50px 40px 40px;
color:rgb(255, 255, 255);
bottom:20px;

}

.footer {
width:100%;
background-color:black;
top:1670px;
height:200px;
position:absolute;
}
 
.faviconimages{
display:flex;
gap:23px;
top:20px;
left:80%;
height:100px;
position:absolute;
}

.mag-down-description
{
color:white;
/*padding:35px 0 10px 150px;*/
font-size:27px;
text-transform:uppercase;
font-family:'Big Shoulders Display';
position:absolute;
text-align:justify;
left:3%;
bottom:60px;
}


.p-down-description{
color:white;
font-weight:300;
font-size: 17px;
font-family:'Outfit';
text-align:justify;
line-height:1.3;
width:300px;
/*margin:-250px 0 0 0;*/
position:absolute;
text-align:initial;
left:35%;/*left:20px;*/

bottom:30px;

}


a#ol span#ol-text {
    display: inline-block; 
    color: #fff;   
    background-color: #151515;  
}

a#ol span#ol-icon {
    background-color: #d5966c;  
}

a#ol:hover span {
    transition-property: background-color;
    transition-duration: 200ms;  
}

a#ol:hover span#ol-text {
    background-color: #d5966c;  
}

a#ol:hover span#ol-icon {
background-color: #151515;  
}

.a-description-1{
color:black;
}

}
